$logo-font : 'Great Vibes', 'cursive';
$primary-font: 'Karla', 'sans-serif';
$secondary-font: 'Lato','sans-serif';


$primary-color: #008080;
$secondary-color: #FF6B6B;
$accent-color: #D3D3D3;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
